/* Shared style */
*{
    margin: 0;
    /* color: #070211; */
}

.container{
    width: 1320px;
    margin: auto;
}

.text-color{
    color: #FF0000;
}

.merriweather-font{
    font-family: "Merriweather", serif;
}

.inter-font{
    font-family: "Inter", sans-serif;
}

.line-height{
    line-height: 30px;
    font-weight: 300;
    font-size: 20px;
}

.font-size-48{
    font-size: 48px;
    font-weight: 900;
    margin: 30px 0;
}

.font-size-24{
    font-size: 24;
    font-weight: 600;
    margin: 10px;
    line-height: 30px;
}

/* -----------------------End----------------------------- */


/* Banner styles start */
header{
    background-image: linear-gradient(to bottom, rgba(7, 1, 17, 0.89), rgba(136, 136, 136, 0.103)), url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content{
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading{
    font-size: 72px;
    font-weight: 800;
}

.sub-heading{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.header-top{
    margin-top: 40px;
}
/* -----------------------End----------------------------- */


/* Discount styles start */
.discount{
    text-align: center;
    margin: 100px auto;
}

.heading-65{
    font-size: 88px;
    font-weight: 800;
    margin-bottom: 30px;
}

.heading-all-categories{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 40px;
}
/* -----------------------End----------------------------- */


/* Welcome styles start */
.welcome-container{
    background-image: linear-gradient(to right, rgba(7, 1, 17, 0.89), rgba(136, 136, 136, 0.103)), url('images/Vectorrr.png');
    background-repeat: no-repeat;
    margin: auto;
    height: 600px;
}

.welcome-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 67px 100px;
}

.heading-welcome{
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 20px;
}

.welcome-content p{
    font-size: 18px;
    width: 695px;
}

.button-style1{
    font-size: 20;
    font-weight: 800;
    color: #FFFFFF;
    background-color: transparent;
    border: 0;
    margin: 40px 20px;
}
/* -----------------------End----------------------------- */


/* Join Now styles start */
.join-now-container{
    background-image: linear-gradient(to top, #fd2e2e00, rgba(255, 0, 0, 0.164));
    height: 480px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-now{
    text-align: center;
    font-weight: 600;
    font-size: 32px;
}

.button-style2{
    background-color: #FF0000;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 20;
    font-weight: 800;
    margin-top: 40px;
}
/* -----------------------End----------------------------- */


/* Coming Soon styles start */
.coming-soon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coming-section1{
    width: 395px;
    margin: 25px;

}

.coming-section3{
    width: 280px;
    margin-left: 60px;
}

.best-offer{
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
}

.coming-soon-font{
    font-size: 48px;
    font-weight: 900;
    margin: 30px 0;
}

.party-img{
    border: 20px solid red;
    border-radius: 50%;
}

.party-img img{
    border: 40px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.happy-img{
    margin-top: 40px;
}

.style-2024{
    font-size: 48px;
    font-weight: 800;
    color: #FF0000;
    margin-bottom: 20px;
}
/* -----------------------End----------------------------- */


/* Holidays styles start*/
.holidays-container{
    background-image: linear-gradient(to top, #fd2e2e00, rgba(255, 0, 0, 0.075));
    margin: 130px auto;
    text-align: center;
}

.holidays{
    margin: 20px ;
    padding: 100px;
}

.functional-font{
    font-size: 24px;
    font-weight: 600;
}
.holidays-font{
    font-size: 72px;
    font-weight: 900;
    margin: 20px 0;
}

.discount-50{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -----------------------End----------------------------- */


/* Portfolio styles start */
.portfolio-container{
    width: 1320px;
    margin: auto;
}

.awesome-font{
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0;
}

.dolor-width{
    width: 900px;
    margin-bottom: 40px;
}

.img-margin img{
    margin: 0 10px 10px 0;
}
/* -----------------------End----------------------------- */


/* Subscribe styles ‍start */
.subscribe-container{
    background-color: #ff000013;
    margin: auto;
}

.subscribe{
    text-align: center;
    padding: 100px 280px;
    margin: 100px 0;
}

.button-subscribe {
    width: 400px;
    position: relative;
    margin: auto;
    margin-top: 30px;
}

input {
    margin: 0px;
    padding: 12px 0px 12px 20px;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    border: 0;
}

.button-style3 {
    position: absolute;
    background-color: #FF0000;
    top: 0;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    right: -20px;
    height: 50px;
    width: 120px;
    color: white;
}

/* footer styles start */
footer{
    background-color: #070211;
    color: #FFFFFF;
    padding: 120px 280px;
    margin: auto;
    display: flex;
}

.contact{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.082);
} 

.social-icons{
    padding-bottom: 40px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.082);
    text-align: center;
}

.social-icons img{
    margin-right: 20px;
}

.copy-write{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
} 
/* -----------------------End----------------------------- */