/* Shared style */
*{
    margin: 0;
    /* color: #070211; */
}

.container{
    width: 1320px;
}

.text-color{
    color: #FF0000;
}

.merriweather-font{
    font-family: "Merriweather", serif;
}

.inter-font{
    font-family: "Inter", sans-serif;
}
/* -----------------------End----------------------------- */


/* Banner styles start */
header{
    background-image: linear-gradient(to bottom, rgba(7, 1, 17, 0.89), rgba(136, 136, 136, 0.103)), url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin: auto;
    width: 1320px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content{
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading{
    font-size: 72px;
    font-weight: 800;
}

.sub-heading{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.header-top{
    margin-top: 40px;
}
/* -----------------------End----------------------------- */


/* Discount styles start */
.discount{
    text-align: center;
    margin: 100px auto;
}

.heading-65{
    font-size: 88px;
    font-weight: 800;
    margin-bottom: 30px;
}

.heading-holiday-deals{
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}

.heading-all-categories{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 40px;
}
/* -----------------------End----------------------------- */


.welcome{
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    margin: auto;
    height: 600px;
    color: #FFFFFF;
    font-family: "Merriweather", serif;
    text-align: left;
    align-items: center;

}

/* Join Now styles */
.join-now{
    text-align: center;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255, 0, 0, 0.164));;
    height: 480px;
    margin: 100px 0;
}

/* Coming Soon styles */
.coming-soon-container{
    width: 1320px;
}

.coming-soon{
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
}

/* Holidays */
.holidays-container{
    width: 1320px;
    margin: auto;
}
.holydays{
    text-align: center;
    margin: auto;
}
.discount-50{
    background-image: url('images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    display: flex;
}

/* Portfolio container */
.portfolio-container{
    width: 1320px;
    margin: auto;
}

/* Subscribe styles */
.subscribe-container{
    background-color: #ff000013;
    width: 1320px;
    margin: auto;
}

.subscribe{
    text-align: center;
    margin: 140px;
    padding: 100px;
}

/* Subscribe button */
.buttonIn {
    width: 300px;
    position: relative;
}

input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 50px;
}

button {
    position: absolute;
    top: 0;
    border-radius: 50px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 2px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #FF0000;
    transform: translateX(2px);
}
/* Subscribe button */
/* footer styles */
footer{
    background-color: #070211;
    color: #FFFFFF;
    padding: 120px 280px;
}

.contact{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.social-icons{
    margin: 40px auto;
    align-items: center;
    justify-content: center;
}

.icon{
    margin-right: 20px;
}

.copy-write{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
